/* Menu */
  .navbar {
    opacity: unset;
    overflow: hidden;
    width: 100%;
    background-color: #6495ed;  
  }
  
    .navImg {
    background-color: #6495ed;
    width: 140px;
    height: 100px;
    
    }
      
    .navbar a {
    background-color: #6495ed;
    float: right;
    color: #ffffff;
    font-weight: bold;
    margin-top: 40px;
    margin-right: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    font-size: 20px;
    }

    #menu li{
        display: inline;
    }
    /* /Menu */

    .container {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .doacoes-title {
    text-align: center;
    color: #6495ed;
    font-size: 45px;
  }
  
  .doacoes-p {
    color: #696969;
    width: 70%;
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .row {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-dados {
    background-color: #6494edd0;
    border-radius: 5px;
    box-shadow: 10px 10px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
  
  }
  
  .dados-title {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
  }
  
  .dados-p {
    text-align: center;
    font-size: larger;
  }
  
  .parceria-title {
    text-align: center;
    color: #6495ed;
    font-size: 50px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .parceria-pics {
    display: flex;
    justify-content: center;
    margin-top: -4%;
  }
  .parceria-pict {
    margin-top: -4%;
    display: flex;
    justify-content: center;
  }
  .parceria-pic {
    margin-top: -4%;
    display: flex;
    justify-content: center;
  }
  
  .logo-gastromotiva {
    margin-top: 4%;
    height: 140px;
    width: 190px;
  }
  .logo-cmi {
    margin: 50px;
    height: 150px;
  }
  
  .logo-fsocial {
    margin-top: 3%;
    height: 200px;
  }
  
  .logo-balimentos {
    height: 140px;
    width: 190px;
    margin-top: 4%;
  }
  
  .logo-bca {
    width: 210px;
    height: 140px;
    margin: 50px;
  }
  
  .logo-beto {
    margin-top: 4%;
    height: 140px;
  }
  
  .logo-pbkids {
    height: 130px;
    width: 200px;
    margin-top: 4%;
  }
  
  .logo-mjaguare {
    height: 140px;
    width: 200px;
    margin: 50px;
  }
  .logo-rihappy {
    height: 140px;
    width: 180px;
    margin-top: 4%;
  }